{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% if is_granted("ROLE_USER") %}

    <button><a href="/noticia/new">Crear Noticias</a></button><br/>
    <button><a href="/evento/new">Crear Evento</a></button><br/>
    <button><a href="/verNoticias">Ver noticias</a></button><br/>
    <button><a href="/verVentajas">Ver ventajas</a></button><br/>
    <button><a href="/calendario">Ver Calendario</a></button><br/>
    <button><a href="/verMisiones">Ver misiones completadas</a></button><br/>
    <br/>
    Puntos de usuario: {{ puntos }}
    <br/>


    {% if is_granted("ROLE_ADMIN") %}
        <br/>
        <button><a href="/misionesCompletadas">Verificar misiones completadas</a></button> <br/>
        <button><a href="/verEventos">Verificar Eventos</a></button> <br/>
        <button><a href="/mostrarCorreos">Mostrar correos usuarios</a></button> <br/>
        <button><a href="/verificarDniAdminFoto">Usuarios para verificar perfil con foto DNI</a></button>
    {% endif %}
{% endif %}

{% endblock %}
