{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% if is_granted("ROLE_USER") %}
    <button><a href="/perfil">Verificar perfil con datos y modificadación de datos</a></button>
    <br/>
    <button><a href="/verificarDniAdmin">Verificar perfil con DNI</a></button>
    {% if is_granted("ROLE_ADMIN") %}
        <br/>
        <button><a href="/verificarDniAdminFoto">Usuarios para verificar perfil con foto DNI</a></button>
    {% endif %}
{% endif %}

{% endblock %}
