{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
Correos:
{% for user in users %}
    <li>{{ user.email }}</li>
{% endfor %}
<button class="btn btn-primary" onClick="exportarCorreos();">Exportar correos</button>

<script>
    function exportarCorreos() {

        function fail(data) {
            alert("Exportar correos fallido.");
        }

        $.ajax({
            type: "GET",
            url: "/exportar",
            success: function() {
                alert("Exportación completada");

            },
            error: fail
        });
    }
</script>
{% endblock %}