{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
Correos:
{% for user in users %}
    <li>{{ user.email }}</li>
{% endfor %}
<button class="btn btn-primary" onClick="exportarCorreos();">Exportar correos</button>

<br>
<br>
Informes:
<select id="informe" name="informes">
    <option value="" selected>--Seleccione opción--</option>
    <option value="municipio">Municipio</option>
    <option value="provincia">Localidad</option>
    <option value="gustos">Gustos</option>
    <option value="notificaciones">Recibir notificaciones</option>
</select>

<ul id="informesLista">

</ul>

<script>
    function exportarCorreos() {

        function fail(data) {
            alert("Exportar correos fallido.");
        }

        $.ajax({
            type: "GET",
            url: "/exportar",
            success: function(data)  { 
                var blob = new Blob([data]); 
                var link = document.createElement('a'); 
                link.href = window.URL.createObjectURL(blob); 
                link.download = "correos.csv"; 
                link.click(); 
            },
            error: fail
        });
    }

    // Informes al hacer change en el select:
    $("#informe").change(function() {
        $.ajax({
            type: "GET",
            url: "/informes",
            data: {'informe': $(this).val()},
            success: function(data) {
                console.log(data);
                for (var i = 0; i < data.length; i++){
                    $("informesLista").append("<li>"+ data[i].nombre +"</li>");
                }
            },
            error: function()  { 
                alert("Fallo al conseguir los informes por " + $(this).val()); 
            }
        });
    });
</script>
{% endblock %}