{% extends 'base.html.twig' %}

{% block title %}New ListaCorreo{% endblock %}

{% block body %}
    <h1>Create new ListaCorreo</h1>

    {{ include('lista_correo/_form.html.twig') }}

    <a href="{{ path('lista_correo_index') }}">back to list</a>
{% endblock %}
